@use '../abstract/color' as *;

footer {
	display: flex;
	flex-direction: row;	
	justify-content: center;
	align-items: center;
}

footer p {
	padding-bottom: 16px;
	color: $monablue-2;
}

footer a:hover{
	transition: 0.3s;
	color: $monablue-1;
}
