@use '../abstract/sizing' as *; 
@use '../abstract/typography' as *; 
@use '../abstract/color' as *;

$textbox-width: 20 * $bs;

.mn-c-text-input {
	display: flex;
	color: $monablue-1;
	font-size: $bs;
	flex-direction: column;
	gap: $bs / 4;
	align-items: flex-start;


	> * {
		margin: 0px;
		padding: 0px;
	}

	.mn-c-helper-text {
		font-size: $bs - 3px;
	}

	::placeholder {
		color: $monablue-2;
		opacity: 1;
	}

	.mn-c-label {
		font-size: $bs;
	}

	input {
		width: $textbox-width;
		height: 2 * $bs;
		//border-width: 1px;
		//border-style: solid;
		//border-color: $monablue-2;
		border-style: none;
		box-sizing: border-box;
		padding-left: $bs / 2;

		&:focus {
			outline: none;
			border-style: solid;
			border-color: $monablue-1-5;
			border-width: 1px;
		}

		&:focus:invalid {
			outline: none;
			border-style: solid;
			border-color: $monared-0;
			border-width: 1px;
		}

	}

	.mn-is-optional	{
		margin-left: $bs / 2;
		font-size: $bs - 3px;
	}

	&.mn-is-large {
		input {
			height: 3 * $bs;
			font-size: 1.5 * $bs;
		}

	}

	&.mn-is-light {
		::placeholder {
			color: $monablue-1;
			opacity: 0.5;
		}

		input {
			color: $monablue-1;
			background-color: transparent;
			&:focus {
				outline: none;
				border: 0px;
				background-color: rgba($monablue-3, 1);
			}
			&:hover {
				transition: 0.3s;
				cursor: pointer;
				background-color: rgba($monablue-3, 1);
			}
		}
	}
}


