// Google Fonts 
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;1,400&family=IBM+Plex+Serif:ital,wght@0,400;0,500;1,400&display=swap');

// Font Variables
$plex-sans: 'IBM Plex Sans', sans-serif;
$plex-serif: 'IBM Plex Serif', serif;
$plex-serif-italic: 'IBM Plex Serif', serif, italic;
