@use '../base/color' as *;

header {
	position: fixed;
	top: 0px;
	width: 100vw;
	transition: top 0.3s;
	background: $monablue-2;
}

.mn__header-menu 
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 8px;
	gap: 16px;
}


.mn__header-link a:hover {
	color: $monablue-1;
	transition: 0.1s;
}

.mn__header-link.active
{
	color: $monablue-1;
}

.mn__header-link.inactive
{
	color: $monagold-1;
}
