@use '../design/scss/abstract/color' as *;
@use '../design/scss/abstract/typography' as *;

#blog {
	background: linear-gradient(0deg, $monared-1 15.96%, $monablue-2 100%);
	background-attachment: fixed;
	color: $monablue-0;
}

#blog_index {
	display: flex;
	flex-direction: column;	
	align-items: center;
}


#blog_banner {
	font-family: $font-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 38px;

	.title {
		font-weight: 500;
		display: flex;
		align-items: center;
		flex-direction: row;
		gap: 16px;
		margin-bottom: 8px;

		.text {
			font-size: 70px;
			padding-bottom: 15px;
		}
	}
	
	.subtitle {
		font-style: italic;
		color: $monablue-1-5;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.index {
	background-color: rgba($monablue-3, 0.2);
	min-width: 250px;
	width: 750px;
	max-width: 90vw; 
	display: flex;
	flex-direction: column;
	font-family: $font-sans;
	font-weight: 300;
	margin-bottom: 64px;

	h4 
	{
		font-size: 22px;
		overflow: hidden visible;
		white-space: nowrap;
		text-overflow: ellipsis;
		margin-right: 25px;
		padding-bottom: 5px;
	}

	> * {
		padding: 15px 25px;;
	}
}


@media screen and (max-width: 500px) {
	#blog_banner {
		transform: scale(0.8);
	}
}

